<!-- src/app/app.component.html -->
<header class="app-header">
  <nav class="main-nav">
    <div class="logo">
      <a routerLink="/">MiGestorStock</a>
    </div>
    <ul>
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
      <li><a routerLink="/stock" routerLinkActive="active-link">Gestión de Stock</a></li>
      <!-- Otros enlaces globales aquí -->
    </ul>
  </nav>
</header>

<main class="app-content">
  <router-outlet></router-outlet> <!-- Aquí se cargarán HomeComponent o StockManagementComponent -->
</main>

<footer class="app-footer">
  <p>© {{ currentYear }} Mi Aplicación de Gestión de Stock. Todos los derechos reservados.</p>
</footer>
